$primary-font-family: roboto;
$primary-color: #B23939;
$primary-color-darker: #A53232;
$secundary-color: #666666;
$secundary-color-darker: #141414;
//$background-color: #F4F4F4;
$background-color: #E5E5E5;
$header-height: 80px;

.primary-color {
  color:$primary-color-darker;
}

div#topo {
  position: fixed;
  width: 100%;
  background: $primary-color;
  height: $header-height;
  padding: 0px 20px 0px 20px;
  //border-bottom: 5px solid $primary-color-darker;
  z-index: 100;

  div#logo {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: auto;
    height: 100%;
    float:left;
    margin-right: 50px;
  }

  div#hamburguer-menu{
    float: right;
    margin: 10px;
    color: #fff;
  }

  div#nav-primary{
    position: relative;
    display: inline-block;

    * {
      font-weight: normal;
      font-family: $primary-font-family;
    }
    
    .fa {
      font-family: FontAwesome;
    }
 
    a {
      color: #FFF!important;    
    }

    div.link{
      font-size: 1.6em;
      font-weight: 500;
      color: #fff;
      display: inline-block;
      padding: 0 1.4em 0 1.4em;
      margin: 23px 0px 23px 0px;
      //padding: 30px 20px 27px;
    }
    
    div.login-link {
      font-size: 1.6em;
      font-weight: 500;
      color: #fff;
      display: inline-block;
      padding: 0 1.2em 0 1.2em;
      margin: 23px 0px 23px 0px;
      
      float:right;
      border-style: solid;
      border-color:white;
      border-width:2px;
      border-radius: 10px;
	}
    
    div.login-link:hover, div.login-link:focus {
      background-color: #fff;
      color:$primary-color!important;
      
      a {
        color:$primary-color!important;
		text-decoration: none;
      }
    }
  }
}

div#conteudo {
  margin:20px;
  padding: 10px 20px 10px 20px;
  border: 1px solid darken($background-color,5%);
  background: lighten($background-color,5%);
  height: 90%;
  display: block;

  h1,h2,h3,h4 {
    color: $primary-color;
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 1200px) {
    text-align: center;
    #emAlta{
      border-left: 1px solid $primary-color-darker;
      border-right: 1px solid $primary-color-darker;
    }
  }
}

body {
  background: $background-color;
}

/* Map style */
html,body {
  height:100%;
}

h1,h2,h3 {
  color: $primary-color-darker;
}

hr {
  border-color: $primary-color-darker;
  width: 50%;
  margin: 0 auto;

}

#content-area {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: $header-height;
	width: 100%;
	height: 100%;
}

#wrapper {
	width: 100%;
	height: 100%;

	#map-canvas {
  		width:80%;
  		height:100%;
  		float:right;
	}

	#left-map-menu {
		width:20%;
		height: 100%;
		background-color: white;
		
		/* Box shadow */	
		-moz-box-shadow: 0px 3px 8px rgb(100,100,100);
		-webkit-box-shadow: 0px 3px 8px rgb(100,100,100);
		box-shadow: 0px 3px 8px rgb(100,100,100);
	}
	
	h2 {
		margin: 0px;
	}
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#target {
	width: 345px;
}

div#paper {
	div.row {
		width:100%;
        height:100%;
	}
}

.paper {
  .container {
    height: 100%;

    .title {
      color: $primary-color-darker;
      margin: 50px 0px 25px 0px;
      font-size: 2.6em;
      text-align:center;
    }

  }

  .row {
    height: 100%;
    background: lighten($background-color,5%);
    box-shadow:0 3px 2px -2px rgba(200,200,200,0.2);
  }

  #firstRow {
    height:100%; margin-top:40px; text-align:center;
  }


}

#result-list {
	padding-bottom: 20px;
	margin-bottom: 20px;
}

#search-box {
	color:#333;
	text-align:center;
	width:30%;
	font-size: 10px;
}

#search-box-button {
/* 	color:#333; */
	text-align:center;
	font-size: 10px;
	height: 100px;
}

input:hover,input:focus,select:hover,select:focus,textarea:hover,textarea:focus {
  border-color: $primary-color-darker;
}

:active {
  border-color: $primary-color-darker;
}


label {
  color: #484848;
}

#place-search {
  background-color: #fff;
  font-family: roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

button.submit-form{
  margin:0 auto;width:100%;height:50px;margin-top:30px;background:$primary-color;color:#fff;border:0;font-family:roboto;font-size:1.5em;text-shadow:none!important;
}

button:hover,button:focus,button:active,
.btn-default:active:hover,
button.submit-form:hover,button.submit-form:focus,button.submit-form:active{
  background: $primary-color-darker!important;
  color:#fff!important;
}

.btn-default:active:focus,
button.submit-form:active:focus {
  background: lighten($primary-color-darker,30%);
}

button.list-button{
  margin:0 auto;width:100%;height:30px;margin-top:10px;background:$primary-color;color:#fff;border:0;font-family:roboto;font-size:1em;text-shadow:none!important;
}

.panel-primary {
  font-family: $primary-font-family;
  font-weight: 600;
  border:0;
  box-shadow:0px 0px 5px #D7D7D7;
  border: 1px solid #E4E4E4;
  border-radius:0;
}

.panel-primary > .panel-heading {
  background:$primary-color!important;border-radius:0;
  color:#FFF;height:45px;font-size:1.3em;text-align:center;
  background-image: none;border:none;
  /*background:#E5E5E5;color:#000;border:1px solid #D2D1D1;*/
}


/* First page tips*/
.icon-div {
	height:50%;
	margin-top:30%;
	color:$primary-color;
}

.title-div {
	font-size:5em;
	font-family:roboto-thin;
	color:$primary-color;	
}

.content-div {
	font-size:1.8em;
	font-family:roboto-thin;
	text-align:justify;
	padding-left: 10%;
	padding-right: 10%;
}

.down-icon-div {
	padding-top:10%;
	color:$primary-color;
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

.list-item {
	background-color: #fff!important;
}