$primary-font-family: roboto;
$primary-color: #B23939;
$primary-color-darker: #A53232;
$secundary-color: #666666;
$secundary-color-darker: #141414;
$background-color: #F9F9F9;

div#topo {

  position: relative;
  background: $primary-color;
  height: 80px;
  padding: 0px 20px 0px 20px;
  border-bottom: 5px solid $primary-color-darker;

  div#logo {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: auto;
    height: 100%;
    float:left;
    margin-right: 50px;
  }

  div#hamburguer-menu{
    float: right;
    margin: 10px;
    color: #fff;
  }

  div#nav-primary{
    position: relative;
    display: inline-block;

    div.link{
      font-family: $primary-font-family;
      font-size: 1.6em;
      font-weight: 500;
      color: #fff;
      display: inline-block;
      padding: 0 1.4em 0 1.4em;
      margin: 23px 0px 23px 0px;
      //padding: 30px 20px 27px;
    }

    a{
      color: #FFF!important;
    }

  }
  
}

div#conteudo {

  margin:20px;
  padding: 10px 20px 10px 20px;
  border: 1px solid darken($background-color,5%);
  background: lighten($background-color,5%);
  height: 90%;
  display: block;

  h1,h2,h3,h4 {
    color: $primary-color;
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 1200px) {
    text-align: center;
    #emAlta{
      border-left: 1px solid $primary-color-darker;
      border-right: 1px solid $primary-color-darker;
    }
  }


}



body {
  background: $background-color;

}
