@font-face {
    font-family: 'roboto';
    src: url('Roboto-Bold-webfont.eot.xhtml?ln=common');
    src: url('Roboto-Bold-webfont.eot.xhtml?ln=common?#iefix') format('embedded-opentype'),
         url('Roboto-Bold-webfont.woff.xhtml?ln=common') format('woff'),
         url('Roboto-Bold-webfont.ttf.xhtml?ln=common') format('truetype'),
         url('Roboto-Bold-webfont.svg.xhtml?ln=common#robotobold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('Roboto-Medium-webfont.eot.xhtml?ln=common');
    src: url('Roboto-Medium-webfont.eot.xhtml?ln=common?#iefix') format('embedded-opentype'),
         url('Roboto-Medium-webfont.woff.xhtml?ln=common') format('woff'),
         url('Roboto-Medium-webfont.ttf.xhtml?ln=common') format('truetype'),
         url('Roboto-Medium-webfont.svg.xhtml?ln=common#robotomedium') format('svg');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('Roboto-Regular-webfont.eot.xhtml?ln=common');
    src: url('Roboto-Regular-webfont.eot.xhtml?ln=common?#iefix') format('embedded-opentype'),
         url('Roboto-Regular-webfont.woff.xhtml?ln=common') format('woff'),
         url('Roboto-Regular-webfont.ttf.xhtml?ln=common') format('truetype'),
         url('Roboto-Regular-webfont.svg.xhtml?ln=common#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-thin';
    src: url('Roboto-Thin-webfont.eot.xhtml?ln=common');
    src: url('Roboto-Thin-webfont.eot.xhtml?ln=common?#iefix') format('embedded-opentype'),
    url('Roboto-Thin-webfont.woff.xhtml?ln=common') format('woff'),
    url('Roboto-Thin-webfont.ttf.xhtml?ln=common') format('truetype'),
    url('Roboto-Thin-webfont.svg.xhtml?ln=common#robotothin') format('svg');
    font-weight: 300;
    font-style: normal;
}



