<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/data/repository"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
	<!-- xmlns="http://java.sun.com/xml/ns/javaee" -->

	<display-name>divertour</display-name>

	<welcome-file-list>
		<welcome-file>/pages/common/index.xhtml</welcome-file>
	</welcome-file-list>

	<!-- Configuração do Controlador Faces Servlet -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	
	<error-page>
    	<error-code>404</error-code>
    	<location>/pages/error/404.xhtml</location>
	</error-page>

	<context-param>
		<param-name>BootsFaces_USETHEME</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>com.sun.faces.writeStateAtFormEnd</param-name>
		<param-value>false</param-value>
	</context-param>
	
	<context-param>
    	<param-name>primefaces.THEME</param-name>
    	<param-value>bootstrap</param-value>
	</context-param>
	
	<!-- ACCESS FILTER -->
	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>br.ufrn.divertour.security.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/pages/restricted/*</url-pattern>
		<url-pattern>/pages/admin/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<!--  <dispatcher>REQUEST</dispatcher> -->
	</filter-mapping>
	
	<!-- ===================== Default MIME Type Mappings =================== -->
  <!-- When serving static resources, Tomcat will automatically generate    -->
  <!-- a "Content-Type" header based on the resource's filename extension,  -->
  <!-- based on these mappings.  Additional mappings can be added here (to  -->
  <!-- apply to all web applications), or in your own application's web.xml -->
  <!-- deployment descriptor.                                               -->
  
  	<mime-mapping>
        <extension>eot</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>
	
  	<mime-mapping>
        <extension>ttf</extension>
        <mime-type>application/octet-stream</mime-type>
    </mime-mapping>
    
   	<mime-mapping>
        <extension>.svg</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>   	

  	<mime-mapping>
        <extension>woff</extension>
        <mime-type>application/font-woff</mime-type>
    </mime-mapping>

  	<mime-mapping>
        <extension>woff2</extension>
        <mime-type>application/font-woff2</mime-type>
    </mime-mapping>

</web-app>